*               text=auto
*.bmp           binary
*.cfg           text eol=lf
*.wps           text eol=lf
*.sbs           text eol=lf
*.fms           text eol=lf
*.cat           -text
*.dll           binary
*.fnt           binary
*.icns          binary
*.ico           binary
*.inf           -text
*.jpg           binary
*.pdf           binary
*.png           binary
*.svg           binary
*.sys           binary
*.vcproj        -text
*.wav           binary
*.xcf           binary
